.header {
  background-color: var(--bg);
  padding: 20px;
  text-align: center;
  box-shadow: var(--shadow);
}
.header .colored {
  color: var(--primary);
}

.app-content {
  display: flex;
  height: 100vh;
}
.c-l {
  flex: 1;
  background-color: #161b21;
  padding: 50px;
  scrollbar-width: thin;
  scrollbar-color: var(--background-accent) transparent;
  scrollbar-button-color: transparent;
}
.c-l::-webkit-scrollbar {
  width: 6px;
}
.c-l::-webkit-scrollbar-thumb {
  background: var(--bg);
  border-radius: 10px;
}
.c-l::-webkit-scrollbar-button {
  display: none;
}
.c-l::-webkit-scrollbar-track {
  background: transparent;
}

.c-r {
  flex: 2;
  background-color: var(--bg);
  padding: 20px;
  scrollbar-width: thin;
  scrollbar-color: var(--background-accent) transparent;
  scrollbar-button-color: transparent;
}

@media (min-width: 790px) {
  .c-l {
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 60px;
  }
  .c-r {
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 60px;
  }
}

@media (max-width: 790px) {
  .app-content {
    flex-direction: column;
  }
}

.card {
  padding: 20px;
  background-color: var(--background-secondary);
  border: 1px solid var(--border);
  border-radius: 10px;
  box-shadow: var(--shadow);
  max-width: 100%;
}

.button {
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
}

.button-error {
  color: var(--red);
  font-size: 12px;
  font-weight: bold;
}

.button.primary {
  background-color: #007bff;
  color: #fff;
}

.button.transparent {
  background-color: transparent;
  color: var(--text);
}

.button {
  font-size: 15px;
  font-weight: bold;
}

.input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--border);
  background-color: var(--background-accent);
}

.pill {
  width: fit-content;
  padding: 3px 15px;
  border-radius: 20px;
  color: var(--text);
  font-size: 14px;
  font-weight: bold;
}
.pill.transparent {
  background-color: transparent;
  border: 2px solid var(--border);
}
.pill.pointer {
  cursor: pointer;
}
.pill.success {
  background-color: var(--green);
  color: #fff;
}
.pill.warning {
  background-color: var(--yellow);
  color: #fff;
}
.pill.danger {
  background-color: var(--red);
  color: #fff;
}

/* Income Card */

.edit-income {
}

.edit-icon {
  width: 20px;
}

.edit-income {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}
.income-display {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.income-display .transparent {
  display: flex;
  width: fit-content;
  padding: 0;
}
/* .income-display h3 {
  width: 100%;
  text-align: right;
} */

/* Expense form */
.add-expense {
  margin: 20px 0;
}
.add-expense.edit {
  border: 2px solid var(--primary);
}
.add-expense-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 10px;
}

.add-expense-field .input {
  padding: 10px 5px;
  width: 100%;
}

.add-expense label {
  font-weight: bold;
  text-align: left;
}

.add-expense-inputs {
  display: flex;
}

.add-expense-category {
  flex: 1;
  margin: 10px;
}

.expense-form-label {
  font-weight: bold;
  text-align: left;
}

.add-expense .primary {
  margin-top: 20px;
}

/* Category Select */
.category-select {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.category-button {
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 10px;
  background-color: var(--bg);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40px;
  min-width: 40px;
}
.category-button span {
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
}

.category-button:hover {
  background-color: var(--background-accent);
  border-color: var(--primary);
}

.category-button.active {
  border-color: var(--primary);
}

.category-button.active span {
  color: var(--primary);
}

.category-icon {
  width: 24px;
  height: 24px;
}
/* Expense List */

.expense-list-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.expense-sorter {
  display: flex;
}

.expense-sorter-button.pill {
  border: 0px;
  border-radius: 0px;
  background: var(--background-accent);
  font-size: 12px;
}

.expense-sorter-button.active {
  color: var(--primary);
}

.expense-filter {
  display: flex;
  gap: 10px;
  justify-content: left;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.expense-filter-button {
  display: flex;
  gap: 5px;
  align-items: center;
}
.expense-filter-button.active {
  border: 2px solid var(--primary);
  color: var(--primary);
}

.expense-filter-icon {
  width: 20px;
  height: 20px;
}

/* Expense Card  */

.expense-card {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expense-details {
  display: flex;
  align-items: center;
  gap: 10px;
}
.expense-card-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.expense-actions img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.expense-actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.expense-actions .button {
  padding: 0;
  display: flex;
}

.expense-card p {
  font-size: 16px;
  margin: 0;
  text-align: left;
}
.expense-info {
  text-align: left;
}
.expense-info .expense-name {
  font-weight: bold;
}
.expense-info span {
  font-size: 12px;
  color: var(--text);
}

.expense-category {
  border: 2px solid var(--border);
  padding: 10px;
  border-radius: 10px;
  display: flex;
}

/* Budget Graph  */

.budget-graph {
  margin: 20px 0;
}
.budget-net-value {
  font-size: 40px;
  font-weight: bold;
}
.budget-net-value.safe {
  color: var(--green);
}
.budget-net-value.warning {
  color: var(--yellow);
}
.budget-net-value.danger {
  color: var(--red);
}
.caption-subtitle {
  font-size: 12px;
  color: var(--text);
}
